<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>海贼王-艾斯</string>
		<key>icon</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/552c4c086e061d95c26f5fb47bf40ad162d9ca3b.jpg</string>
		<key>download</key>
		<string>3000万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-兄弟</string>
		<key>icon</key>
		<string>http://dmimg.5054399.com/allimg/optuji/kidd/29.jpg</string>
		<key>download</key>
		<string>2356万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-索罗</string>
		<key>icon</key>
		<string>http://ic.topit.me/c/6a/f0/1121460143570f06acl.jpg</string>
		<key>download</key>
		<string>5677万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-索罗</string>
		<key>icon</key>
		<string>http://e.hiphotos.baidu.com/zhidao/pic/item/b7003af33a87e950a15f0f6511385343fbf2b46b.jpg</string>
		<key>download</key>
		<string>6677万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-女帝</string>
		<key>icon</key>
		<string>http://dmimg.5054399.com/allimg/optuji/kidd/4.jpg</string>
		<key>download</key>
		<string>7672万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-女帝</string>
		<key>icon</key>
		<string>http://tupian.enterdesk.com/2015/xll/09/4/Kid5.jpg</string>
		<key>download</key>
		<string>4567万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-旗帜</string>
		<key>icon</key>
		<string>http://img4q.duitang.com/uploads/item/201408/16/20140816183704_hhfVB.jpeg</string>
		<key>download</key>
		<string>5555万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-罗</string>
		<key>icon</key>
		<string>http://tu.webps.cn/tb/img/4/TB1SFnNGVXXXXcYXVXXXXXXXXXX_%21%210-item_pic.jpg</string>
		<key>download</key>
		<string>8787万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-四皇</string>
		<key>icon</key>
		<string>http://m3.img.srcdd.com/farm3/d/2012/0213/10/A3D85AB4E25738C045E46A040383CEB4_B1280_1280_848_480.JPEG</string>
		<key>download</key>
		<string>6575万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-图片</string>
		<key>icon</key>
		<string>http://d01.res.meilishuo.net/pic/_o/03/13/8e57c7471b337e0f1232bad27ac0_527_800.c1.jpg</string>
		<key>download</key>
		<string>6452万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-索罗</string>
		<key>icon</key>
		<string>http://tupian.enterdesk.com/2015/xll/09/4/Kid7.jpg</string>
		<key>download</key>
		<string>9856万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-基德</string>
		<key>icon</key>
		<string>http://img5q.duitang.com/uploads/item/201505/03/20150503080246_3nKQB.jpeg</string>
		<key>download</key>
		<string>65856万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-基德</string>
		<key>icon</key>
		<string>http://dmimg.5054399.com/allimg/optuji/kidd/12.jpg</string>
		<key>download</key>
		<string>98563万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-基德</string>
		<key>icon</key>
		<string>http://dmimg.5054399.com/allimg/optuji/kidd/15.jpg</string>
		<key>download</key>
		<string>86489万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-路飞</string>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/item/201210/31/20121031143023_zZrAy.thumb.600_0.jpeg</string>
		<key>download</key>
		<string>10000万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海贼王-基德</string>
		<key>icon</key>
		<string>http://dmimg.5054399.com/allimg/optuji/kidd/22.jpg</string>
		<key>download</key>
		<string>10113万</string>
	</dict>
</array>
</plist>
